@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

@layer utilities {
 
        .masonry {
            column-gap: 1.5em;
            column-count: 1;
        }
        .masonry-sm {
            column-gap: 1.5em;
            column-count: 2;
        }
        .masonry-md {
            column-gap: 1.5em;
            column-count: 3;
        }
        .break-inside {
            break-inside: avoid;
        }

}
*{
    font-family: "DM Serif Display";
}
.secondary-font{
    font-family: "Ubuntu";
}
.imageTag{
    width: auto;
    height: autp;
}